#statusEffectsPanel{
	background: var(--sidebar-color);
}

#statusEffectsPanel ~ *{
	visibility:hidden;
}

.statusEffects{

}

.statusEffects svg path{
	fill: var(--theme-color);
	
}

button.avtt-roll-formula-button {
    font-size: 14px;
    cursor: default;
    color: #394B59;
    padding: 9px;
}